{% extends 'app/base2.html' %}
{% load static %}

{% block title %}
<div data-aos="fade-up" data-aos-delay="150">
    <div class="col-xl-6 col-lg-8">
        <h1><p style="color:rgb(255, 217, 0)">Agregar un componente</p></h1>
{% endblock title %}

{% block body %}
<br>
<div class="container text-center">
    <div class="container">
            <div class="text-center">
                <form id="login-form" style="width: 60vw; margin-left : 20vw;" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{form.as_table}}
                    </table>
                </div>
                <div class="my-3">
                    <div class="text-center"><button type="submit">Añadir</button></div>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
{% endblock body %}
