{% extends 'app/base_detalles.html' %}
{% load static %}


{% block image %}
    
    {% if ram.imagenComponente %}
    <p><img src="{{ram.imagenComponente.url}}" width="auto" length="auto" alt=""></p>
    {% endif %}
        
{% endblock image %}


{% block title %}
    <h2 style="color:rgb(255, 208, 0)">{{ram.titulo}}</h2>
{% endblock title %}


{% block body %}
    <li><strong>Nombre:</strong> {{ram.titulo}}</li>
    <li><strong>Marca:</strong> {{ram.marca}}</li>
    <li><strong>Precio:</strong> ${{ram.precio}} ARS</li>
    <li><strong>Año de lanzamiento:</strong> {{ram.year}}</li>
    <li><strong>Fecha de publicación:</strong> {{ram.fechaPublicacion}}</li>
    <li><strong>Descripción:</strong> {{ram.descripcion}}</li>
{% endblock body %}


{% block comments %}
<h2>Comentarios: </h2> 
    {% if not ram.comentarios.all %}
        Aún no hay comentarios
        <hr>
    {% else %}
        {% for comentario in ram.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.comentario}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario_agregar' ram.pk %}">+ Agregar comentario</a>
{% endblock comments %}
    